{% extends "base.html" %}
{% block title %}Please Fill in The Details{% endblock %}
{% block content %}
 <h1>Information required</h1>
 </br>
 <h3>Please, use the following form:</h3>
 </br>
 <form method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <div  style="padding-left:50px;">
  <button type="submit" name="submit" value="submit">Save</button>
 </div>
 </br>
 <div  style="padding-left:50px;">
   <button type="submit" name="cancel" value="cancel">Cancel</button>
 </div>
 </form>
{% endblock %}
{% block contentII %}

 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">

               <h5 class="modal-title" id="exampleModalLabel">Please Confirm your Details!!</h5>
               <span class="close">&times;</span>
             </div>
             <div class="modal-body">
               <table style="width:100%">
                 <tr>
                 <th>Name</th>
                 <th>Gender</th>
                 <th>DOB</th>
                 <th>City</th>
                 <th>State</th>
                 <th>Country</th>
                 </tr>
                 <tr>
                 <td> {{name}}</td>
                 <td> {{gender}}</td>
                 <td> {{dateofbirth}}</td>
                 <td> {{city}}</td>
                 <td> {{state}}</td>
                 <td> {{country}}</td>
                 </tr>
               </table>
             </div>

             <div class="modal-footer">
               <button id="can" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
               <input id="tag-form-submit" type="submit" class="btn btn-primary" value="Submit">
             </div>

           </div>
         </div>
       </div>

  {% if successful_submit %}
  <script type="text/javascript">
    $(document).ready(function(){
    $("#exampleModal").modal('show');
    });
  </script>
  {% endif %}
  <script>

var modal = document.getElementById("exampleModal");
var can = document.getElementById("can");
var span = document.getElementsByClassName("close")[0];
can.onclick = function() {
  $("#exampleModal").modal('hide');
}
span.onclick = function() {
  $("#exampleModal").modal('hide');
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
}
}

</script>

  </br>
{% endblock %}
